/* SHARED COMMON STYLES */

.btn-primary{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none; 

    color: #FFF; 
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    transition: 0.1s;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* NAVBAR STYLES */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 135px 0px 135px;
    margin-bottom: 49px;
}

    @font-face {
        font-family: 'Magic School One';
        src: url('../B9A2-PatronousExpress/fonts/magic-school-one.ttf');
    }
    .navbar .page-title{
        display: flex;
        align-items: center;
        font-size: 50px;
        font-family: 'Magic School One';
        gap: 25px;
    }

        .navbar .logo{
            width: 90px;
            height: 90px;
        }

    .nav-button{
        display: flex;
        gap: 44px;
    }

        .navbar button{
            color: var(--Dark-02, #424247);
            text-align: center;
            padding: 0;
            border: none;
            background-color: #FFFFFF;

            font-family: "Mulish", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
        }

        button:hover{
            font-weight: bold;
        }

/* ---------------------------------------------------------------------------------------------------------------------- */

/* BANNER STYLES */

.banner-container{
    display: flex;
    justify-content: center;
}

.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../B9A2-PatronousExpress/images/explore-travel.png");
    width: 1170px;
    height: 500px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
    .banner h1{
        color: #FFF;
        font-family: Mulish;
        font-size: 45px;
        font-style: normal;
        font-weight: 800;
    }

    .banner h3{
        color: #FFF;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        
        padding: 0px 247px 0px 247px;
        margin-top: -30px;
    }

    .banner .travel-form{
        background: rgba(255, 255, 255, 0.30);
        width: 800px;
        height: 84px;
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .travel-form form{
            display: flex;
            justify-content: center;
            gap: 24px;
        }

        form > input, select{
            width: 174px;
            height: 52px;
            flex-shrink: 0;
            border-radius: 8px;
            border: none;
            background: #FFF;

            color: rgba(19, 19, 24, 0.50);
            font-family: Mulish;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
        }


            .btn-primary:hover{
                background: #d64c07;
                transform: scale(105%);
            }


/* --------------------------------------------------------------------------------------------------------------------------- */

/* ATTRACTION STYLES */

.attraction-container{
    display: flex;
    padding: 100px 135px 0px 135px;
    justify-content: center;
}

    .attraction{
        display: flex;
    }
        .attraction-text{
            width: 400px;
            margin-right: 53px;
        }

            .attraction-text h1{
                color: #131318;
                font-family: Mulish;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
            }

            .attraction-text .feature-list{
                color: rgba(19, 19, 24, 0.70);
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 400; 
            }

            .blog-read h3{
                color: rgb(0, 0, 0);
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
            }        

            .blog-read{
            margin-top: 48px;
        }


        .attraction-image{
            width: 540px;
            height: 550px;
            flex-shrink: 0; 
            
        }


/* --------------------------------------------------------------------------------------------------------------------------- */


/* CATALOGUE STYLES */

.catalogue-container{
    display: flex;
    justify-content: center;
}

.catalogue{
    padding-inline: 135px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1170px;
}

    .catalogue-text{
        text-align: center;
    }
        .catalogue-text h1{
            color: #131318;
            font-family: Mulish;
            font-size: 40px;
            font-style: normal;
            font-weight: 800; 
        }
        .catalogue-text h3{
            color: rgba(19, 19, 24, 0.70);
            font-family: Mulish;
            font-size: 16px;
            font-style: normal;
            font-weight: 400; 

            width: 643px;
        }
    
    .catalogue-image{
        width: 1170px;
    }

        .row{
            display: flex;
            justify-content: center;
            padding-top: 24px;
            gap: 24px;
        }
            #sr, #ks{
                width: 374px;
            }

        .catalogue-image img{
            width: 474px;
            border-radius: 16px; 
        }


/* --------------------------------------------------------------------------------------------------------------------------- */

/* TRUST STYLES */

.trust-container{
    display: flex;
    justify-content: center;
}

.trust{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

    .trust-title{
        width: 643px;
        text-align: center;
    }

        .trust-title h1{
            color: #131318;
            font-family: Mulish;
            font-size: 40px;
            font-style: normal;
            font-weight: 800; 
        }

        .trust-title h3{
            color: rgba(19, 19, 24, 0.70);
            font-family: Mulish;
            font-size: 16px;
            font-style: normal;
            font-weight: 400; 
        }

    .card-1{
        display: flex;
        gap: 24px;
        padding-top: 48px;
        padding-bottom: 24px;
    }

        .b1{
            padding-left: 32px;
            padding-top: 32px;
            width: 573px;
            height: 284px;
            flex-shrink: 0;
            border-radius: 16px;
            border: 1px solid rgba(251, 181, 99, 0.20);
            background: rgba(251, 181, 99, 0.05);
        }

        .b2{
            padding-left: 32px;
            padding-top: 32px;
            width: 573px;
            height: 284px;
            flex-shrink: 0;
            border-radius: 16px;
            border: 1px solid rgba(41, 206, 246, 0.20);
            background: rgba(41, 206, 246, 0.05); 
        }
            .b1 h1, .b2 h1{
                color: #131318;
                font-family: Mulish;
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                line-height: normal; 
            }
            .b1 h3, .b2 h3{
                color: #5A5A5D;
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;

                padding-right: 55px;
            }




/* --------------------------------------------------------------------------------------------------------------------------- */


/* BD MOUNTAIN STYLES */

.bd-mountain-container{
    display: flex;
    padding: 100px 135px 0px 135px;
    justify-content: center;
    align-items: center;
}

    .bd-mountain{
        display: flex;
    }
        .bd-text{
            width: 500px;
            margin-right: 53px;
        }

            .bd-text h1{
                color: #131318;
                font-family: Mulish;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
            }

            .bd-text .bd-list{
                color: rgba(19, 19, 24, 0.70);
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 400; 
            }

            .bd-see h3{
                color: rgb(0, 0, 0);
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
            }        

            .bd-see{
            margin-top: 48px;
        }


        .bd-mountain-video{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0; 
            
        }


/* --------------------------------------------------------------------------------------------------------------------------- */


/* FOOTER STYLES */

footer{
    background-color: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

footer > .page-title{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Magic School One';
    gap: 25px;
}
    footer .logo{
        width: 80px;
        height: 80px;
    }

.footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 336px 0px 336px;

    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
}
    .footer-desc{
        margin-bottom: 32px;
    }
    .footer-social{
        width: 25%;
        height: 25%;
        flex-shrink: 0;
        margin-bottom: 50px;
    }
footer hr{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    border: none;
    margin-bottom: 50px;
}
footer .all-rights{
    text-align: center;
    padding-bottom: 110px;

    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


/* MEDIA QUERIES */

/* Small Devices (Mobile): */
@media screen and (max-width: 576px){
    
    /* SHARED */

    .btn-primary{
        width: 200px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF5400;
        border: none; 

        color: #FFF; 
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        transition: 0.1s;
    }

    /* Navbar */

    .navbar{
        display: block;
        padding: 0px 20px 0px 20px;
    }
    
        @font-face {
            font-family: 'Magic School One';
            src: url('../B9A2-PatronousExpress/fonts/magic-school-one.ttf');
        }
        .navbar .page-title{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-family: 'Magic School One';
            gap: 15px;
            margin-right: 10px;
        }
    
            .logo{
                width: 60px;
                height: 60px;
            }
    
        .nav-button{
            display: flex;
            gap: 14px;
            justify-content: center;
        }
    
            .navbar button{
                color: var(--Dark-02, #424247);
                text-align: center;
                padding: 0;
                border: none;
                background-color: #FFFFFF;
    
                font-family: "Mulish", sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
            }
    
            button:focus{
                font-weight: bold;
            }
    
    /* Banner */

    .banner-container{
        display: flex;
        justify-content: center;
        margin-top: -35px;
    }
    
    .banner{
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../B9A2-PatronousExpress/images/explore-travel.png");
        width: 335px;
        height: 483px;
        background-position: center;
        border-radius: 16px;
    
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
        .banner h1{
            color: #FFF;
            font-family: Mulish;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;

            padding-top: 32px;
            padding-left: 64px;
            padding-right: 64px;
        }
    
        .banner h3{
            color: #FFF;
            font-family: Mulish;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            
            padding: 0px 16px 0px 16px;
            margin-top: -8px;
        }
    
        .form-container{
            display: flex;
            justify-content: center;
        }

        .banner .travel-form{
            background: rgba(255, 255, 255, 0.30);
            width: 220px;
            height: 220px;
            padding: 16px;

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
            .travel-form form{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
            }
    
            form > input, select{
                width: 200px;
                height: 40px;
                flex-shrink: 0;
                border-radius: 8px;
                border: none;
                background: #FFF;
    
                color: rgba(19, 19, 24, 0.50);
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                text-align: center;
            }
    
                .btn-primary:focus{
                    background: #d64c07;
                    transform: scale(105%);
                }

    /* Attraction */

    .attraction-container{
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
    }

        .attraction{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .attraction-text{
                width: 335px;
                margin-right: 0px;
                text-align: center;
                padding-top: 24px;
            }

                .attraction-text h1{
                    color: #131318;
                    font-family: Mulish;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 800;
                }

                .attraction-text .feature-list{
                    color: rgba(19, 19, 24, 0.70);
                    font-family: Mulish;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400; 
                }

                .blog-read h3{
                    color: rgb(0, 0, 0);
                    font-family: Mulish;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                }        

                .blog-read{
                margin-top: 48px;
                padding-bottom: 24px;
            }


            .attraction-image{
                display: flex;
                width: 335px;
                height: 342px;
                flex-shrink: 0; 
                
            }


    /* Catalogue */
    
    .catalogue-container{
        display: flex;
        justify-content: center;
    }
    
    .catalogue{
        padding-inline: 135px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        width: 335px;
    }
    
        .catalogue-text{
            text-align: center;
        }
            .catalogue-text h1{
                color: #131318;
                font-family: Mulish;
                font-size: 20px;
                font-style: normal;
                font-weight: 800; 
            }
            .catalogue-text h3{
                color: rgba(19, 19, 24, 0.70);
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 400; 
    
                width: 320px;
            }
        
        .catalogue-image{
            width: 335px;
        }
    
            .row{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 24px;
                gap: 24px;
            }
    
            .catalogue-image img{
                width: 335px;
                border-radius: 16px; 
            }


    /* BD Mountain */

    .bd-mountain-container{
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
    }

        .bd-mountain{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .bd-text{
                width: 335px;
                margin-right: 0px;
                text-align: center;
                padding-top: 24px;
            }

                .bd-text h1{
                    color: #131318;
                    font-family: Mulish;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 800;
                }

                .bd-text .bd-list{
                    color: rgba(19, 19, 24, 0.70);
                    font-family: Mulish;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400; 
                }

                .bd-see h3{
                    color: rgb(0, 0, 0);
                    font-family: Mulish;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                }        

                .bd-see{
                margin-top: 48px;
                padding-bottom: 24px;
            }


            .bd-mountain-video iframe{
                display: flex;
                width: 335px;
                height: 200px; 
                flex-shrink: 0; 
            }

    
    /* Footer */

    footer{
        background-color: rgba(19, 19, 24, 0.05);
        margin-top: 24px;
    }
    
    footer > .page-title{
        padding: 33px 90px 0px 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        

        font-size: 14.2px; 
        font-family: 'Magic School One';
        gap: 20px;
    }
        footer .logo{
            width: 50px;
            height: 50px;
        }
    
    .footer-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 44px 0 44px;
    
        color: #5A5A5D;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400; 
    }
        .footer-desc{
            margin-bottom: 16px;
        }
        .footer-social{
            width: 65%;
            height: 65%;
            flex-shrink: 0;
            margin-top: 16px;
            margin-bottom: 24px;
        }
    footer hr{
        width: 335px;
        height: 1px; 
        background: rgba(19, 19, 24, 0.10);
        border: none;
        margin-bottom: 24px;
    }
    footer .all-rights{
        text-align: center;
        padding-bottom: 31px;
    
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
    }
}


/* Medium Devices (Tablet): */
@media screen and (min-width: 576px) and (max-width:992px){

    /* SHARED */

    .btn-primary{
        width: 174px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF5400;
        border: none; 

        color: #FFF; 
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        transition: 0.1s;
    }
    
    /* Navbar */
    
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px 0px 25px;
    }
    
        @font-face {
            font-family: 'Magic School One';
            src: url('../B9A2-PatronousExpress/fonts/magic-school-one.ttf');
        }
        .navbar .page-title{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-family: 'Magic School One';
            gap: 15px;
            margin-right: 10px;
        }
    
            .logo{
                width: 60px;
                height: 60px;
            }
    
            .nav-button{
                display: flex;
                gap: 16px;
                justify-content: center;
            }
        
                .navbar button{
                    color: var(--Dark-02, #424247);
                    text-align: center;
                    padding: 0;
                    border: none;
                    background-color: #FFFFFF;
        
                    font-family: "Mulish", sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                }
        
                button:focus{
                    font-weight: bold;
                }

    
    /* Banner */
    
    .banner-container{
        display: flex;
        justify-content: center;
    }
    
    .banner{
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../B9A2-PatronousExpress/images/explore-travel.png");
        width: 1170px;
        height: 500px;
        border-radius: 16px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
        .banner h1{
            color: #FFF;
            font-family: Mulish;
            font-size: 45px;
            font-style: normal;
            font-weight: 800;
        }
    
        .banner h3{
            color: #FFF;
            font-family: Mulish;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            
            padding: 0px 247px 0px 247px;
            margin-top: -30px;
        }
    
        .banner .travel-form{
            background: rgba(255, 255, 255, 0.30);
            width: 800px;
            height: 84px;
            border-radius: 8px;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
            .travel-form form{
                display: flex;
                justify-content: center;
                gap: 24px;
            }
    
            form > input, select{
                width: 174px;
                height: 52px;
                flex-shrink: 0;
                border-radius: 8px;
                border: none;
                background: #FFF;
    
                color: rgba(19, 19, 24, 0.50);
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                text-align: center;
            }
    
                .btn-primary:focus{
                    background: #d64c07;
                    transform: scale(105%);
                }


    /* Attraction */

    .attraction-container{
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
    }

        .attraction{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .attraction-text{
                width: 700px;
                margin-right: 0px;
                text-align: center;
                padding-top: 24px;
            }

                .attraction-text h1{
                    color: #131318;
                    font-family: Mulish;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 800;
                }

                .attraction-text .feature-list{
                    color: rgba(19, 19, 24, 0.70);
                    font-family: Mulish;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400; 
                }

                .blog-read h3{
                    color: rgb(0, 0, 0);
                    font-family: Mulish;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                }        

                .blog-read{
                margin-top: 48px;
                padding-bottom: 24px;
                }


            .attraction-image{
                display: flex;
                width: 335px;
                height: 342px;
                flex-shrink: 0; 
                
            }

    /* catalogue */

    .catalogue-container{
        display: flex;
        justify-content: center;
    }

    .catalogue{
        padding-inline: 135px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 1170px;
    }

        .catalogue-text{
            text-align: center;
        }
            .catalogue-text h1{
                color: #131318;
                font-family: Mulish;
                font-size: 40px;
                font-style: normal;
                font-weight: 800; 
            }
            .catalogue-text h3{
                color: rgba(19, 19, 24, 0.70);
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 400; 

                width: 643px;
            }
        
        .catalogue-image{
            width: 1170px;
        }

            .row{
                display: flex;
                justify-content: center;
                padding-top: 24px;
                gap: 24px;
            }
                #sr, #ks{
                    width: 230px;
                }

            .catalogue-image img{
                width: 250px;
                border-radius: 16px; 
            }


    /* BD Mountain */

    .bd-mountain-container{
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
    }

        .bd-mountain{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .bd-text{
                width: 700px;
                margin-right: 0px;
                text-align: center;
                padding-top: 24px;
            }

                .bd-text h1{
                    color: #131318;
                    font-family: Mulish;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 800;
                }

                .bd-text .bd-list{
                    color: rgba(19, 19, 24, 0.70);
                    font-family: Mulish;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400; 
                }

                .bd-see h3{
                    color: rgb(0, 0, 0);
                    font-family: Mulish;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                }        

                .bd-see{
                    margin-top: 48px;
                    padding-bottom: 24px;
                }


            .bd-mountain-video iframe{
                display: flex;
                width: 335px*1.5;
                height: 200px*1.5; 
                flex-shrink: 0; 
            }

    
    /* Footer */

    footer{
        background-color: rgba(19, 19, 24, 0.05);
        margin-top: 24px;
    }

    footer > .page-title{
        padding: 33px 90px 0px 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        

        font-size: 18px; 
        font-family: 'Magic School One';
        gap: 20px;
    }
        footer .logo{
            width: 70px;
            height: 70px;
        }

    .footer-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 60px 0 60px;

        color: #5A5A5D;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400; 
    }
        .footer-desc{
            margin-bottom: 16px;
        }
        .footer-social{
            width: 30%;
            height: 30%;
            flex-shrink: 0;
            margin-top: 16px;
            margin-bottom: 24px;
        }
    footer hr{
        width: 600px;
        height: 1px; 
        background: rgba(19, 19, 24, 0.10);
        border: none;
        margin-bottom: 24px;
    }
    footer .all-rights{
        text-align: center;
        padding-bottom: 50px;

        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
    }


 }