/* SHARED COMMON STYLES */
*{

}

/* NAVBAR STYLES */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 135px 0px 135px;
    margin-bottom: 49px;
}

    @font-face {
        font-family: 'Magic School One';
        src: url('../custom-fonts/magic-school-one.ttf');
    }
    .navbar .page-title{
        display: flex;
        align-items: center;
        font-size: 50px;
        font-family: 'Magic School One';
        gap: 25px;
    }

        .navbar .logo{
            width: 90px;
            height: 90px;
        }

    .nav-button{
        display: flex;
        gap: 44px;
    }

        .navbar button{
            color: var(--Dark-02, #424247);
            text-align: center;
            padding: 0;
            border: none;
            background-color: #FFFFFF;

            font-family: "Mulish", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
        }

        button:hover{
            font-weight: bold;
        }


/* FOOTER STYLES */

footer{
    background-color: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

footer > .page-title{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Magic School One';
    gap: 25px;
}
    footer .logo{
        width: 80px;
        height: 80px;
    }

.footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 336px 0px 336px;

    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
}
    .footer-desc{
        margin-bottom: 32px;
    }
    .footer-social{
        width: 25%;
        height: 25%;
        flex-shrink: 0;
        margin-bottom: 50px;
    }
footer hr{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    border: none;
    margin-bottom: 50px;
}
footer .all-rights{
    text-align: center;
    padding-bottom: 110px;

    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}



/* MEDIA QUERIES */

/* Small Devices (Mobile): */
@media screen and (max-width: 576px){
    .navbar{
        display: block;
        padding: 0px 20px 20px 20px;
    }
    
        @font-face {
            font-family: 'Magic School One';
            src: url('../custom-fonts/magic-school-one.ttf');
        }
        .navbar .page-title{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-family: 'Magic School One';
            gap: 15px;
            margin-right: 10px;
        }
    
            .logo{
                width: 60px;
                height: 60px;
            }
    
        .nav-button{
            display: flex;
            gap: 14px;
            justify-content: center;
        }
    
            .navbar button{
                color: var(--Dark-02, #424247);
                text-align: center;
                padding: 0;
                border: none;
                background-color: #FFFFFF;
    
                font-family: "Mulish", sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
            }
    
            button:focus{
                font-weight: bold;
            }
    


    footer{
        background-color: rgba(19, 19, 24, 0.05);
        margin-top: 24px;
    }
    
    footer > .page-title{
        padding: 33px 90px 0px 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        

        font-size: 14.2px; 
        font-family: 'Magic School One';
        gap: 20px;
    }
        footer .logo{
            width: 50px;
            height: 50px;
        }
    
    .footer-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 44px 0 44px;
    
        color: #5A5A5D;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400; 
    }
        .footer-desc{
            margin-bottom: 16px;
        }
        .footer-social{
            width: 65%;
            height: 65%;
            flex-shrink: 0;
            margin-top: 16px;
            margin-bottom: 24px;
        }
    footer hr{
        width: 335px;
        height: 1px; 
        background: rgba(19, 19, 24, 0.10);
        border: none;
        margin-bottom: 24px;
    }
    footer .all-rights{
        text-align: center;
        padding-bottom: 31px;
    
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
    }
}


/* Medium Devices (Tablet): */
@media screen and (min-width: 576px) and (max-width:992px){
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px 20px 25px;
    }
    
        @font-face {
            font-family: 'Magic School One';
            src: url('../custom-fonts/magic-school-one.ttf');
        }
        .navbar .page-title{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-family: 'Magic School One';
            gap: 15px;
            margin-right: 10px;
        }
    
            .logo{
                width: 60px;
                height: 60px;
            }
    
            .nav-button{
                display: flex;
                gap: 16px;
                justify-content: center;
            }
        
                .navbar button{
                    color: var(--Dark-02, #424247);
                    text-align: center;
                    padding: 0;
                    border: none;
                    background-color: #FFFFFF;
        
                    font-family: "Mulish", sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                }
        
                button:focus{
                    font-weight: bold;
                }

    footer{
        background-color: rgba(19, 19, 24, 0.05);
        margin-top: 24px;
    }

    footer > .page-title{
        padding: 33px 90px 0px 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        

        font-size: 18px; 
        font-family: 'Magic School One';
        gap: 20px;
    }
        footer .logo{
            width: 70px;
            height: 70px;
        }

    .footer-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 60px 0 60px;

        color: #5A5A5D;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400; 
    }
        .footer-desc{
            margin-bottom: 16px;
        }
        .footer-social{
            width: 30%;
            height: 30%;
            flex-shrink: 0;
            margin-top: 16px;
            margin-bottom: 24px;
        }
    footer hr{
        width: 600px;
        height: 1px; 
        background: rgba(19, 19, 24, 0.10);
        border: none;
        margin-bottom: 24px;
    }
    footer .all-rights{
        text-align: center;
        padding-bottom: 50px;

        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
    }


 }